<!--
<div id="topHeaderToolbar" class="navbar navbar-inverse navbar-fixed-top">
  	<div id="navigationToolbar" class="navbar-inner">
	<div class="container">

		<ul class="nav">
			<li><a id="homeLink" href="#">Home</a><div><div></div></div></li>
			<li class="active"><a href="#">About</a><div><div></div></div></li>
			<li><a href="#">Work</a><div><div></div></div></li>
			<li><a href="#">Contact</a><div><div></div></div></li>			

		</ul>

	<span class="brand"></span>
	</div>
  </div>
</div> 
-->

<div class="container">

	<%= render partial: "controls" %>

	<%= render partial: "scoreboard" %>

	<%= render partial: "videos" %>

</div>


<%= render partial: "game_script" %>

<%= hidden_field_tag('raw-videos', (raw @videos)) %>