<!--
<div id="topHeaderToolbar" class="navbar navbar-inverse navbar-fixed-top">
  	<div id="navigationToolbar" class="navbar-inner">
	<div class="container">

		<ul class="nav">
			<li><a id="homeLink" href="#">Home</a><div><div></div></div></li>
			<li class="active"><a href="#">About</a><div><div></div></div></li>
			<li><a href="#">Work</a><div><div></div></div></li>
			<li><a href="#">Contact</a><div><div></div></div></li>			

		</ul>

	<span class="brand"></span>
	</div>
  </div>
</div> 
-->

<div class="callout-container top-right callout1">
	<h3>Controls</h3>
	<div class="button-container container1">
		<div class="button-frame plastic">
		  <div id="button1" class="the-button plastic"></div>
		</div>
	</div>
	<div class="button-container container2">
		<div class="button-frame plastic">
		  <div id="button2" class="the-button plastic"></div>
		</div>
	</div>

	<%= image_tag("boxer.png", :id => "boxer", :size => "190x200") %>
</div>


<div class="callout-container callout2 top-right">
	<h3>Your Score</h3>
	<div class="scoreHolder">0</div>
</div>

<div class="callout-container callout3 top-right">
	<div class="coverup">
		<%= video_tag "", :size => "640x480", :controls => false, :id => "video2", :class => "video", :type => "video/ogg" %>
		<%= video_tag "", :size => "640x480", :controls => false, :id => "video3", :class => "video", :type => "video/ogg" %>
		<%= video_tag "", :size => "640x480", :controls => false, :id => "video1", :class => "video", :type => "video/ogg" %>
	</div>
</div>

<%= render partial: "game_script" %>

<%= hidden_field_tag('raw-videos', (raw @videos)) %>