<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @high_score.score %>
</p>

<p>
  <strong>User:</strong>
  <%= @high_score.user_id %>
</p>

<%= link_to 'Edit', edit_high_score_path(@high_score) %> |
<%= link_to 'Back', high_scores_path %>
